<nav class="fixed top-0 left-0 w-full bg-white z-50 shadow-sm py-8">
  <div class="max-w-[1200px] mx-auto px-6 flex justify-between items-center">
    <div class="flex items-center gap-2">
      <img src="/images/sling_logo-dark.png" alt="">
    </div>

    <div class="hidden md:flex items-center gap-8 text-sling-purple">
      <a href="#about" class="">About</a>
      <a href="#developers" class="">Developers</a>
      <a href="#service" class="">Service</a>
      <a href="#features" class="">Features</a>
      <a href="#support" class="">Support</a>
    </div>

    <div class="flex items-center gap-4">
      <button class="px-6 py-2 border border-sling-green text-sling-green rounded hover:bg-green-50 transition font-medium">
        Login
      </button>
      <button class="px-6 py-2 bg-sling-green text-white rounded hover:bg-sling-darkGreen transition font-medium shadow-lg shadow-green-200">
        Create Account
      </button>
    </div>
  </div>
</nav>