<section class="background pt-20 bg-gradient-to-r from-sling-darkBlue to-slate-800 text-white overflow-hidden">
    <div class="max-w-[1200px] mx-auto px-6 flex flex-col md:flex-row items-end gap-12">
        <div class="md:w-1/2 pb-16">
            <h2 class="text-2xl md:text-5xl font-normal mb-6 leading-tight">
                Fast payments delight customers, <span class="font-bold">speedy settlements gratify merchants</span>
            </h2>
            <button class="px-8 py-3 bg-sling-green text-white rounded font-semibold hover:bg-green-600 transition">
                Create Account
            </button>
        </div>

        <div class="md:w-1/2 relative">
            <div class="rounded-xl">
                <img src="/images/dashboard-screenshot.png" alt="Dashboard" class="w-full">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="max-w-[1200px] mx-auto px-6">
        <h2 class="primary-header text-center">Meet our Partners</h2>
        
        <div class="partners">
            @for (partner of partners; track $index) {
                <div class="flex justify-center items-center">
                    <img [src]="partner" alt="">
                </div>
            }
        </div>
    </div>
</section>