<section class="py-20 relative z-20">
    <div class="max-w-[1200px] mx-auto px-6">
        <div class="text-center max-w-3xl mx-auto mb-12">
            <h2 class="primary-header mb-4">Statistics</h2>
            <p class="text-slate-500 text-sm md:text-base">
                To meet the needs of customers, adapt to the pace of change, and deliver bespoke payment solutions.
            </p>
        </div>

        <div class="shadow bg-white rounded-lg py-12 px-4">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-8 md:gap-0">
                
                <div class="flex flex-col justify-center px-6 md:border-r border-sling-green">
                    <h3 class="text-2xl font-bold text-sling-green mb-2">Easy Onboarding</h3>
                    <p class="text-slate-500 text-sm">Fast and easy access</p>
                </div>

                <div class="flex flex-col justify-center px-6 md:border-r border-sling-green">
                    <h3 class="text-2xl font-bold text-sling-green mb-2">15M+</h3>
                    <p class="text-slate-500 text-sm">Transactions processed</p>
                </div>

                <div class="flex flex-col justify-center px-6 md:border-r border-sling-green">
                    <h3 class="text-2xl font-bold text-sling-green mb-2">25M+</h3>
                    <p class="text-slate-500 text-sm">Payments</p>
                </div>

                <div class="flex flex-col justify-center px-6">
                    <h3 class="text-2xl font-bold text-sling-green mb-2">100%</h3>
                    <p class="text-slate-500 text-sm">Secure</p>
                </div>
            </div>
        </div>
    </div>
</section>