@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .primary-header {
        @apply text-xl md:text-3xl font-bold text-sling-purple mb-6 md:mb-12;
    }
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

// Custom scrollbar for better aesthetics
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}